/* fonts */
@import url("https://fonts.googleapis.com/css?family=Lato:300,400|Poppins&display=swap");
/* css variables */
:root {
  --primaryColor: #3fd0d4;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #afafaf;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 0.25rem;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.25);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}
/* reset */
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* body */
body {
  font-family: "Lato", sans-serif;
  color: var(--mainBlack);
  background: var(--offWhite);
  line-height: 1.4;
  font-size: 1rem;
}
/*************** global styles ***************/
img:not(.nav-logo) {
  width: 100%;
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  margin-bottom: 1.25rem;
  letter-spacing: var(--mainSpacing);
}
h1 {
  font-size: 3.3rem;
}
h2 {
  font-size: 2.3rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.2rem;
}
p {
  margin-bottom: 1.25rem;
  line-height: 2;
  font-weight: 300;
}
a {
  text-decoration: none;
}
/* more global styles */
/* buttons */
.btn-white,
.btn-primary {
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  color: var(--mainWhite);
  border: 2px solid var(--mainWhite);
  padding: 0.9rem 1.6rem;
  display: inline-block;
  transition: var(--mainTransition);
  cursor: pointer;
}
.btn-white:hover {
  background: var(--mainWhite);
  color: var(--primaryColor);
}
.btn-primary {
  background: var(--primaryColor);
  color: var(--mainWhite);
  border: 2px solid var(--primaryColor);
}
.btn-primary:hover {
  background: transparent;
  color: var(--primaryColor);
}
/* section */
.section {
  padding: 5rem 0;
}
/* title */
.title-wrapper {
  margin-bottom: 2rem;
}
.title {
  text-align: center;
  text-transform: uppercase;
  font-size: 2.6rem;
  letter-spacing: 0.5rem;
}
.subtitle {
  color: var(--primaryColor);
}
/* section center */
.section-center {
  width: 85vw;
  margin: 4rem auto 2rem auto;
  max-width: 1170px;
}
/*************** end of global styles ***************/

/*************** hotels section ***************/
.hotel {
  background: var(--mainWhite);
}
.hotel-card {
  box-shadow: var(--lightShadow);
  transition: var(--mainTransition);
  margin-bottom: 4rem;
}
.hotel-card:hover {
  box-shadow: var(--darkShadow);
}
.hotel-footer {
  padding: 1.2rem 1.5rem;
}
.hotel-title {
  text-transform: capitalize;
}
.hotel-country {
  color: var(--primaryColor);
  text-transform: capitalize;
}
.hotel-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.hotel-details p {
  line-height: 0.2;
  text-transform: capitalize;
  color: var(--darkGrey);
  letter-spacing: 0.02rem;
}
.hotel-country {
  align-self: center;
  color: var(--primaryColor);
}
.hotel-link {
  text-align: center;
}
/* hotel date */
.hotel-img-container {
  position: relative;
}
.hotel-date {
  position: absolute;
  left: 0;
  top: 0;
  background: var(--primaryColor);
  text-transform: capitalize;
  padding: 0.25rem 0.5rem;
}
@media screen and (min-width: 768px) {
  .featured-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .hotel-card {
    flex: 0 0 calc(50% - 1rem);
  }
}
@media screen and (min-width: 1170px) {
  .hotel-card {
    flex: 0 0 calc(33.3333% - 1rem);
  }
}
/*************** end of hotels section ***************/
