{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Tajmahal Hotel</title>
<link rel="icon" href="favicon.png" type="png">
<link rel="stylesheet" href="min.css">
<link rel="stylesheet" href="min1.css">
<link rel="stylesheet" href="icons.css">
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="popup.css">
<link rel="stylesheet" href="min2.css">
<link rel="stylesheet" href="min3.css">
<link rel="stylesheet" href="select.css">
<link rel="stylesheet" href="style1.css">
</head>
<body>

<header class="header_area">
<div class="header-top">
<div class="container">
<div class="d-flex align-items-center">
<div id="logo">
<img src="tajlogo.png" alt="" title=""width="80px"height="50px" >
</div>
<div class="ml-auto d-none d-md-block d-md-flex">
<div class="media header-top-info">
<span class="header-top-info__icon"><i class="fas fa-phone-volume"></i></span>
<div class="media-body">
<p>Have any question?</p>
<p>Free: <a href="tel:+91 226665 3333">+91 226665 3333</a></p>
</div>
</div>
<div class="media header-top-info">
<span class="header-top-info__icon"><i class="ti-email"></i></span>
<div class="media-body">
<p>Have any question?</p>
<p>Free: <a href="email:tmhbc.bom@tajhotels.com">tmhbc.bom@tajhotels.com</a></p>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="main_menu">
<nav class="navbar navbar-expand-lg navbar-light">
<div class="container">


<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>

<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
<ul class="nav navbar-nav menu_nav">
<li class="nav-item active"><a class="nav-link" href="index.html">Home</a></li>
<li class="nav-item"><a class="nav-link" href="about.html">About</a></li>
<li class="nav-item"><a class="nav-link" href="properties.html">Properties</a></li>
<li class="nav-item"><a class="nav-link" href="gallery.html">Gallery</a></li>
<li class="nav-item submenu dropdown">
<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Blog</a>
<ul class="dropdown-menu">
<li class="nav-item"><a class="nav-link" href="blog.html">Blog</a></li>
<li class="nav-item"><a class="nav-link" href="blog-single.html">Blog Details</a></li>
</ul>
</li>
<li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
</ul>
</div>
<ul class="social-icons ml-auto">
<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
 <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
<li><a href="#"><i class="fab fa-twitter"></i></a></li>
<li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
<li><a href="#"><i class="fas fa-rss"></i></a></li>
</ul>
</div>
</nav>

</div>
</header>

<main class="site-main">

<section class="home-banner-area" id="home">
<div class="container h-100">
<div class="home-banner">
<div class="text-center">    
<h4>See What a Difference a stay makes</h4>
<h1>Luxury <em>is</em> personal</h1>
<a class="button home-banner-btn" href="#">Book Now</a>
</div>
</div>
</div>
</section>


<form class="form-search form-search-position">
<div class="container">
<div class="row">
<div class="col-lg-6 gutters-19">
<div class="form-group">
<input class="form-control" type="text" placeholder="Enter your keywords.." required>
</div>
</div>
<div class="col-lg-6 gutters-19">
<div class="row">
<div class="col-sm">
<div class="form-group">
<div class="form-select-custom">
<select name="" id="">
<option value="" disabled selected>Arrival</option>
<option value="8 AM">8 AM</option>
<option value="12 PM">12 PM</option>
</select>
</div>
</div>
</div>
<div class="col-sm gutters-19">
<div class="form-group">
<div class="form-select-custom">
<select name="" id="">
<option value="" disabled selected>Number of room</option>
<option value="no1">no1</option>
<option value="no200">no200</option>
</select>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="row">
<div class="col-sm gutters-19">
<div class="form-group">
<div class="form-select-custom">
<select name="" id="">
<option value="" disabled selected>Departure</option>
<option value="8 AM">8 AM</option>
<option value="12 PM">12 PM</option>
</select>
</div>
</div>
</div>
<div class="col-sm gutters-19">
<div class="form-group">
<div class="form-select-custom">
<select name="" id="">
<option value="" disabled selected>Adult</option>
<option value="0">0</option>
<option value="3">3</option>
</select>
</div>
</div>
</div>
<div class="col-sm gutters-19">
<div class="form-group">
<div class="form-select-custom">
<select name="" id="">
<option value="" disabled selected>Child</option>
<option value="1">1</option>
<option value="4">4</option>
</select>
</div>
</div>
</div>
<div class="col-lg-4 gutters-19">
<div class="form-group">
<button class="button button-form" type="submit">Check Availability</button>
</div>
</div>
</div>
</div>
</form>


<section class="welcome">
<div class="container">
<div class="row align-items-center">
<div class="col-lg-5 mb-4 mb-lg-0">
<div class="row no-gutters welcome-images">
<div class="col-sm-7">
<div class="card">
<img class="" src="welcomeBanner1.jpeg"width="250px" height="200px"  alt="">
</div>
</div>
<div class="col-sm-5">
<div class="card">
<img class="" src="welcomeBanner2.jpeg" width="250px" height="200px" alt="">
</div>
</div>
<div class="col-lg-12">
<div class="card">
<img class="" src="welcomeBanner3.jpeg" width="510px" height="200px" alt="">
</div>
</div>
</div>
</div>
<div class="col-lg-7">
<div class="welcome-content">
<h2 class="mb-4"><span class="d-block">Welcome</span> to our residence</h2>
<p>WALK THROUGH THE CORRIDORS OF THE TIMELESS LUXURY AND HERITAGE SINCE 1903.

    We are pleased to present Stories from the Taj - a dedicated series that opens up a treasure trove of interesting tales and insights from our featured hotels</p>
<p>The Taj Mahal Palace opened in Mumbai, then Bombay, in 1903, giving birth to the country’s first harbour landmark. The recently trademarked flagship hotel overlooks the majestic Gateway of India. This legendary 5 star hotel in Mumbai has played host to kings, dignitaries and eminent personalities from across the globe, and is acknowledged as a world leader in hospitality. </p>
<a class="button button--active home-banner-btn mt-4" href="#">Learn More</a>
</div>
</div>
</div>
</div>
</section>


<section class="section-margin">
<div class="container">
<div class="section-intro text-center pb-80px">
<div class="section-intro__style">
<img src="bed-icon.png" alt="">
</div>
<h2>Explore Our Rooms</h2>
</div>
<div class="row">
<div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
<div class="card card-explore">
<div class="card-explore__img">
<img class="card-img" src="luxuryroom.jpeg" alt="">
</div>
<div class="card-body">
<h3 class="card-explore__price">$150.00 <sub>/ Per Night</sub></h3>
<h4 class="card-explore__title"><a href="#">luxuryroom</a></h4>
<p>These cozy rooms located in the historic Palace Wing are the gateway to a memorable experience. Perfect for meditation, these windowless rooms offer you complete tranquillity. Designed for our jet-setting business travellers who require silence. </p>
<a class="card-explore__link" href="#">Book Now <i class="ti-arrow-right"></i></a>
</div>
</div>
</div>
<div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
<div class="card card-explore">
<div class="card-explore__img">
<img class="card-img" src="Luxury Grande Room City View.jpeg" alt="">
</div>
<div class="card-body">
<h3 class="card-explore__price">$170.00 <sub>/ Per Night</sub></h3>
<h4 class="card-explore__title"><a href="#">Luxury Grande Room City View</a></h4>
<p>These rooms are located in the Palace Wing on the 2nd, 3rd and 4th floors. They exude an aura of the old-world charm and elegance. These rooms are adorned with delicate Rajput bay-windows. </p>
<a class="card-explore__link" href="#">Book Now <i class="ti-arrow-right"></i></a>
</div>
</div>
</div>
<div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
<div class="card card-explore">
<div class="card-explore__img">
<img class="card-img" src="Luxury Grande Room Sea View.jpeg" alt="">
</div>
<div class="card-body">
<h3 class="card-explore__price">$190.00 <sub>/ Per Night</sub></h3>
<h4 class="card-explore__title"><a href="#">Luxury Grande Room Sea View</a></h4>
<p>These rooms have an old world charm with the delicate Rajput bay-windows that offer spectacular views of the Arabian Sea or the Gateway of India. Includes butler service and WiFi for four devices </p>
<a class="card-explore__link" href="#">Book Now <i class="ti-arrow-right"></i></a>
</div>
</div>
</div>
</div>
</div>
</section>


<section class="video-area">
<div class="container">
<div class="row justify-content-center align-items-center flex-column text-center">
<a id="play-home-video" class="video-play-button" href="https://youtu.be/PmPkj-qUdOs".
<span></span>
</a>
<h3>The Taj Mahal Palace</h3>
<p>View four has said does men saw find dear shy talent</p>
</div>
</div>
</section>


<section class="section-padding bg-porcelain">
<div class="container">
<div class="section-intro text-center pb-80px">
<div class="section-intro__style">
<img src="bed-icon.png" alt="">
</div>
<h2>Special Facilities</h2>
</div>
<div class="special-img mb-30px">
<img class="img-fluid" src="special.png" alt="">
</div>
<div class="row">
<div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
<div class="card card-special">
<div class="media align-items-center mb-1">
<span class="card-special__icon"><i class="ti-home"></i></span>
<div class="media-body">
<h4 class="card-special__title">Conference Room</h4>
</div>
</div>
<div class="card-body">
<p>Built purse maids cease her ham new seven among and. Pulled coming wooded tended it answer remain</p>
</div>
</div>
</div>
<div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
<div class="card card-special">
<div class="media align-items-center mb-1">
<span class="card-special__icon"><i class="ti-bell"></i></span>
<div class="media-body">
<h4 class="card-special__title">Swimming Pool</h4>
</div>
</div>
<div class="card-body">
<p>Built purse maids cease her ham new seven among and. Pulled coming wooded tended it answer remain</p>
</div>
</div>
</div>
<div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
<div class="card card-special">
<div class="media align-items-center mb-1">
<span class="card-special__icon"><i class="ti-car"></i></span>
<div class="media-body">
<h4 class="card-special__title">Sports Culb</h4>
</div>
</div>
<div class="card-body">
<p>Built purse maids cease her ham new seven among and. Pulled coming wooded tended it answer remain</p>
</div>
</div>
</div>
</div>
</div>
</section>


<section class="section-margin">
<div class="container">
<div class="section-intro text-center pb-20px">
<div class="section-intro__style">
<img src="bed-icon.png" alt="">
</div>
<h2> Famous Food</h2>
<img src="food.jpeg"width="1000px" height="400px">
</div>
<div class="owl-carousel owl-theme testi-carousel">
<div class="testi-carousel__item">
<div class="media">
<div class="testi-carousel__img">
<img src="img/home/testimonial1.png" alt="">
</div>
<div class="media-body">
<p>Incidunt deleniti blanditiis quas aperiam recusandae consillo ullam quibusdam cum libero illo repell endus!</p>
<div class="testi-carousel__intro">
<h3>Robert Mack</h3>
<p>CEO & Founder</p>
</div>
</div>
</div>
</div>
<div class="testi-carousel__item">
<div class="media">
<div class="testi-carousel__img">
<img src="img/home/testimonial2.png" alt="">
</div>
<div class="media-body">
<p>Incidunt deleniti blanditiis quas aperiam recusandae consillo ullam quibusdam cum libero illo repell endus!</p>
<div class="testi-carousel__intro">
<h3>David Alone</h3>
<p>CEO & Founder</p>
</div>
</div>
</div>
</div>
<div class="testi-carousel__item">
<div class="media">
<div class="testi-carousel__img">
<img src="img/home/testimonial3.png" alt="">
</div>
<div class="media-body">
<p>Incidunt deleniti blanditiis quas aperiam recusandae consillo ullam quibusdam cum libero illo repell endus!</p>
<div class="testi-carousel__intro">
<h3>Adam Pallin</h3>
<p>CEO & Founder</p>
</div>
</div>
</div>
</div>
<div class="testi-carousel__item">
<div class="media">
<div class="testi-carousel__img">
<img src="img/home/testimonial1.png" alt="">
</div>
<div class="media-body">
<p>Incidunt deleniti blanditiis quas aperiam recusandae consillo ullam quibusdam cum libero illo repell endus!</p>
<div class="testi-carousel__intro">
<h3>Robert Mack</h3>
<p>CEO & Founder</p>
</div>
</div>
</div>
</div>
<div class="testi-carousel__item">
<div class="media">
<div class="testi-carousel__img">
<img src="img/home/testimonial2.png" alt="">
</div>
<div class="media-body">
<p>Incidunt deleniti blanditiis quas aperiam recusandae consillo ullam quibusdam cum libero illo repell endus!</p>
<div class="testi-carousel__intro">
<h3>David Alone</h3>
<p>CEO & Founder</p>
</div>
</div>
</div>
</div>
<div class="testi-carousel__item">
<div class="media">
<div class="testi-carousel__img">
<img src="img/home/testimonial3.png" alt="">
</div>
<div class="media-body">
<p>Incidunt deleniti blanditiis quas aperiam recusandae consillo ullam quibusdam cum libero illo repell endus!</p>
<div class="testi-carousel__intro">
<h3>Adam Pallin</h3>
<p>CEO & Founder</p>
</div>
</div>
</div>
</div>
<div class="testi-carousel__item">
<div class="media">
<div class="testi-carousel__img">
<img src="img/home/testimonial1.png" alt="">
</div>
<div class="media-body">
<p>Incidunt deleniti blanditiis quas aperiam recusandae consillo ullam quibusdam cum libero illo repell endus!</p>
<div class="testi-carousel__intro">
<h3>Robert Mack</h3>
<p>CEO & Founder</p>
</div>
</div>
</div>
</div>
<div class="testi-carousel__item">
<div class="media">
<div class="testi-carousel__img">
<img src="img/home/testimonial2.png" alt="">
</div>
<div class="media-body">
<p>Incidunt deleniti blanditiis quas aperiam recusandae consillo ullam quibusdam cum libero illo repell endus!</p>
<div class="testi-carousel__intro">
<h3>David Alone</h3>
<p>CEO & Founder</p>
</div>
</div>
</div>
</div>
</div>
</div>
</section>


<section class="section-margin">
<div class="container">
<div class="section-intro text-center pb-80px">
<div class="section-intro__style">
<img src="bed-icon.png" alt="">
</div>
<h2>News & Events</h2>
</div>
<div class="row">
<div class="col-md-6 col-lg-4 mb-4 mb-md-0">
<div class="card card-news">
<div class="card-news__img">
<img class="card-img" src="explore1.png" alt="">
</div>
<div class="card-body">
<h4 class="card-news__title"><a href="#">Hotel companies tipped the scales</a></h4>
<ul class="card-news__info">
<li><a href="#"><span class="news-icon"><i class="ti-notepad"></i></span> 20th Nov, 2018</a></li>
<li><a href="#"><span class="news-icon"><i class="ti-comment"></i></span> 03 Comments</a></li>
</ul>
<p>Not thoughts all exercise blessing Indulgence way everything joy alteration boisterous the attachment party we years to order</p>
<a class="card-news__link" href="#">Read More <i class="ti-arrow-right"></i></a>
</div>
</div>
</div>
<div class="col-md-6 col-lg-4 mb-4 mb-md-0">
<div class="card card-news">
<div class="card-news__img">
<img class="card-img" src="explore2.png" alt="">
</div>
<div class="card-body">
<h4 class="card-news__title"><a href="#">Try your hand inaugural industry crossword</a></h4>
<ul class="card-news__info">
<li><a href="#"><span class="news-icon"><i class="ti-notepad"></i></span> 20th Nov, 2018</a></li>
<li><a href="#"><span class="news-icon"><i class="ti-comment"></i></span> 03 Comments</a></li>
</ul>
<p>Not thoughts all exercise blessing Indulgence way everything joy alteration boisterous the attachment party we years to order</p>
<a class="card-news__link" href="#">Read More <i class="ti-arrow-right"></i></a>
</div>
</div>
</div>
<div class="col-md-6 col-lg-4 mb-4 mb-md-0">
<div class="card card-news">
<div class="card-news__img">
<img class="card-img" src="explore3.png" alt="">
</div>
<div class="card-body">
<h4 class="card-news__title"><a href="#">Hoteliers resolve to invest in guests</a></h4>
<ul class="card-news__info">
<li><a href="#"><span class="news-icon"><i class="ti-notepad"></i></span> 20th Nov, 2018</a></li>
<li><a href="#"><span class="news-icon"><i class="ti-comment"></i></span> 03 Comments</a></li>
</ul>
<p>Not thoughts all exercise blessing Indulgence way everything joy alteration boisterous the attachment party we years to order</p>
<a class="card-news__link" href="#">Read More <i class="ti-arrow-right"></i></a>
</div>
</div>
</div>
</div>
</div>
</section>

</main>

<footer class="footer-area section-gap">
<div class="container">
<div class="row">
<div class="col-xl-2 col-sm-6 mb-4 mb-xl-0 single-footer-widget">
<h4>Top Products</h4>
<ul>
<li><a href="#">Managed Website</a></li>
<li><a href="#">Manage Reputation</a></li>
<li><a href="#">Power Tools</a></li>
<li><a href="#">Marketing Service</a></li>
</ul>
</div>
<div class="col-xl-2 col-sm-6 mb-4 mb-xl-0 single-footer-widget">
<h4>Quick Links</h4>
<ul>
<li><a href="#">Jobs</a></li>
<li><a href="#">Brand Assets</a></li>
<li><a href="#">Investor Relations</a></li>
<li><a href="#">Terms of Service</a></li>
</ul>
</div>
<div class="col-xl-2 col-sm-6 mb-4 mb-xl-0 single-footer-widget">
<h4>Features</h4>
<ul>
<li><a href="#">Jobs</a></li>
<li><a href="#">Brand Assets</a></li>
<li><a href="#">Investor Relations</a></li>
<li><a href="#">Terms of Service</a></li>
</ul>
</div>
<div class="col-xl-2 col-sm-6 mb-4 mb-xl-0 single-footer-widget">
<h4>Resources</h4>
<ul>
<li><a href="#">Guides</a></li>
<li><a href="#">Research</a></li>
<li><a href="#">Experts</a></li>
<li><a href="#">Agencies</a></li>
</ul>
</div>
<div class="col-xl-4 col-md-8 mb-4 mb-xl-0 single-footer-widget">
<h4>Newsletter</h4>
<p>You can trust us. we only send promo offers,</p>
<div class="form-wrap" id="mc_embed_signup">
<form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="form-inline">
<input class="form-control" name="EMAIL" placeholder="Your Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Email Address '" required="" type="email">
<button class="click-btn btn btn-default text-uppercase">subscribe</button>
<div style="position: absolute; left: -5000px;">
<input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
</div>
<div class="info"></div>
</form>
</div>
</div>
</div>
<div class="footer-bottom row align-items-center text-center text-lg-left">
<p class="footer-text m-0 col-lg-8 col-md-12">
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made  by gurunithin
</p>
<div class="col-lg-4 col-md-12 text-center text-lg-right footer-social">
<a href="#"><i class="fab fa-facebook-f"></i></a>
<a href="#"><i class="fab fa-twitter"></i></a>
<a href="#"><i class="fab fa-dribbble"></i></a>
<a href="#"><i class="fab fa-behance"></i></a>
</div>
</div>
</div>
</footer>

<script src="vendors/jquery/jquery-3.2.1.min.js"></script>
<script src="vendors/bootstrap/bootstrap.bundle.min.js"></script>
<script src="vendors/magnefic-popup/jquery.magnific-popup.min.js"></script>
<script src="vendors/owl-carousel/owl.carousel.min.js"></script>
<script src="vendors/easing.min.js"></script>
<script src="vendors/superfish.min.js"></script>
<script src="vendors/nice-select/jquery.nice-select.min.js"></script>
<script src="vendors/jquery.ajaxchimp.min.js"></script>
<script src="vendors/mail-script.js"></script>
<script src="js/main.js"></script>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>
</body>
</html>